@keyframes slideUp {
    0% { bottom: 60px; }
    100% { bottom: 0px; }
}

.tile {
    aspect-ratio: 2/3;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.genres {
    font-size: 12px;
    color: #959393;
    display: flex;
    gap: 10px;
    max-width: 77%;

    li:last-of-type {
        display: none;
    }

    @media (min-width: 1440px) {
        li:last-of-type {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.title {
    font-size: 16px;
    margin-top: 10px;
}

.expandedTile {
    background-color: #171717;
    display: flex;
    height: auto;
    top: 50%;
    transform: translatey(-50%);
    flex-direction: column;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    flex: 1;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    max-height: 200px;
    text-overflow: ellipsis;
}

.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 8px;
    gap: 4px;
}

.buttonContainer {
    display: flex;
    padding: 0px 16px 8px;
    align-items: center;
    flex-shrink: 0;
    gap: 8px;
}

.tileButton {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #171717;
    border: none;
    display: flex;
    cursor: pointer;
}

.playButton {
    width: 37px;
}

.watchListButton {
    margin-left: 3px;
}

.expandButton {
    width: 43px;
    height: 43px;
    margin-left: auto;
}

.tileTrailer,
.tileBanner {
    border-radius: 16px 16px 0 0;
    bottom: 60px;
    position: relative;
    overflow: hidden;
    animation: slideUp 1s ease-out 3.6s forwards;
    animation-fill-mode: forwards;
    width: 100%;
    pointer-events: none;
    height: auto;
    aspect-ratio: 16/9;
}

.tileBanner {
    animation: none;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
