@keyframes slideUp {
    0% { bottom: 60px; }
    100% { bottom: 1px; }
}

.seriesTrailer {
    height: auto;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
    max-width: 88%;
    will-change: transform;
    pointer-events: none;
    bottom: 60px;
    position: relative;
    animation: slideUp 1s ease-out 3.6s forwards;
    animation-fill-mode: forwards;

    @media (min-width: 768px) {
        max-width: 80%;
    }
}

.seriesBanner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 654px;
    background-position: center;
}

.seriesBannerOverlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, #120e0e2e 46%, #120e0e8c 69%, #120e0ef5 95%, #120e0e 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    z-index: 1;
}

.seriesContent {
    z-index: 9;
    position: relative;
    top: -93px;
}

.seriesDetails {
    grid-template-rows: repeat(2, 24px);
}

.episodeCard {
    border-bottom: 2px solid #ffffff4f;
    padding: 42px 0;
    display: flex;
    gap: 25px;
    align-items: center;

    &:first-of-type {
        padding-top: 0;
    }

    @media (min-width: 768px) {
        gap: 40px;
    }
}

.episodeThumbnail {
    height: unset;
    min-width: 175px;

    @media (min-width: 768px) {
        min-width: 250px;
    }
}

.playButton {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #1717175e;
    border: none;
    display: flex;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;

    img {
        width: 33px;
        margin-left: 6px;
    }
}

.episodeThumbnailContainer {
    position: relative;
}
