.dropdown {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #171717;
    padding: 24px 32px;
    z-index: 9;
    gap: 24px;
}

.logoutIcon {
    padding-left: 5px;
}

.loginIcon {
    margin-left: -4px;
    margin-right: 4px;
}
