.swiper {
    width: 100%;
}

.swiperSlide {
    width: 160px !important;

    @media (min-width: 1024px) {
        width: 280px !important;
    }
}

.title {
    font-size: 32px;
    font-weight: 600;
    z-index: 9;
    margin-top: 64px;
    margin-bottom: 12px;

    &:first-of-type {
        margin-top: -9%;
    }
}
