.watchlistGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    column-gap: 32px;
    row-gap: 62px; 
    padding: 0 42px;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    @media (min-width: 1536px) {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}
