.resultsTitle {
  font-weight: bold;
  margin-bottom: 16px;
  padding: 0 42px;
  margin-top: 48px;
}

.resultsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  column-gap: 32px;
  row-gap: 62px;  
  padding: 0 42px;
}

@media (min-width: 1024px) {
  .resultsGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1280px) {
  .resultsGrid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media (min-width: 1536px) {
  .resultsGrid {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.errorContainer,
.noResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 42px 0;
  text-align: center;
}

.errorContainer h2,
.noResultsContainer h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.errorContainer p,
.noResultsContainer p {
  font-size: 16px;
}
