@import "tailwindcss";

/* TODO: Add more colors, white and purple? */
:root {
  --background: #120e0e;
  --foreground: #fefefe;
  --font-main: "Inter", sans-serif;
  --font-secondary: "Public Sans", sans-serif;
  --gray: #c4c4c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-main);
  --color-gray: var(--gray);
  --color-light-black: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  min-height: 100vh;
  width: 100%;
  overscroll-behavior-x: none;
}

main {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;

  &::after {
    font-size: 30px !important;
    font-weight: bold;
  }
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-slide-visible {
  opacity: .5;
  pointer-events: none;

  &.swiper-slide-fully-visible {
      opacity: 1;
      pointer-events: auto;
  }
}

a, button {
  cursor: pointer;
}

.button-primary {
  background-color: var(--background);
  border: 1px solid #6b7280;

  &:hover {
    background-color: rgb(35 34 34);
    box-shadow:
      0 10px 15px -3px rgba(156, 163, 175, 0.2), 0 4px 6px -4px rgba(156, 163, 175, 0.2);
  }
}

.button-secondary {
  background-color: #e5e7eb;
  border: 1px solid #6b7280;
  color: #171717;

  &:hover {
    background-color: #d1d5db;
  }
}
