.homeBanner {
    position: relative;
    width: 100vw;
    margin: 0 -32px;

    &::before {
        content: "";
        background: linear-gradient(to bottom, transparent 0%, transparent 32%, rgba(0, 0, 0, 0.3) 72%, rgb(0 0 0) 94%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.bleachTitle {
    width: 39%;
}
